:root{
    --heading1: 2.986rem;
    --heading2:2.488rem;
    --heading3:2.074rem;
    --heading4:1.728rem;
    --heading5:1.44rem;
    --heading6:1.2rem;
    --parah:1rem;
}
/* expenses container */
.expenseContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 3.12rem;
    padding: 1rem 1rem 5.5rem 1rem;
    position: relative;
    background-color: white;
    z-index:16;
}
.expenseContainer .title_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}
.expenseContainer .title_section h2{
    font-size: var(--heading2);
    font-weight: 600;
    line-height: 3rem;
    color: #4E4E4E;
}
.expenseContainer .title_section p{
    font-size: var(--parah);
    font-weight: 300;
    line-height: 1.5rem;
    color: #1C1C1C;
}
.expenseContainer .title_section p span{
    font-weight: 500;
}
.expenseContainer .second{
    display: flex;
    width: 100%;
    overflow-x: scroll;
}
.expenseContainer .second .boxes{
    display: flex;
    padding: 1.68rem 0rem 1.68rem 0rem;
    gap: 1.8rem;
}
.expenseContainer .second::-webkit-scrollbar{
    display: none;
}
.expenseContainer .boxes .box{
    display: flex;
    width: 280px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.62rem 0rem 0.62rem 0rem;
    gap: 0.3rem;
    border-radius: 1.25rem;
    background-color: #FAFAFA;
}
.expenseContainer .boxes .box img{
    width: 6.25rem;
    height: 6.25rem;
}
.expenseContainer .boxes .box p{
    padding: 0.62rem 0rem 0.62rem 0rem;
    font-size: var(--heading6);
    font-weight: 600;
    line-height: 1rem;
    color: #7C7C7C;
}
.expenseContainer .boxes .box .cost{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.3rem;
}
.expenseContainer .boxes .box .cost p{
    font-size: 14px;
    font-weight: 400;
    line-height: 5px;
    color: #666666;
}
.expenseContainer .boxes .box .cost span{
    padding: 0rem 3.17rem 0.25rem 3.17rem;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    color:#516578;
}
.expenseContainer .last{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6.71px 14.75px 6.71px 14.75px;
    gap: 8.05px;
    background-color: #B7DCFF;
    color: #0661B4;
    font-size: 13.41px;
    font-weight: 600;
    line-height: 13.41px;
}

/* expectation */
.expectationContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: relative;
    background-color: white;
    z-index:16;
}
.expectationContainer .title_section{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.expectationContainer .title_section .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--heading4);
    font-weight: 400;
    line-height: 39.6px;
    color: #333333;
}
.expectationContainer .title_section .title span{
    font-size: var(--heading3);
    font-weight: 600;
    color: #58AFFF;
}
.expectationContainer .title_section p{
    font-size: var(--parah);
    font-weight: 300;
    line-height: 23.8px;
    color: #1C1C1C;
}
.expectationContainer .title_section p span{
    font-weight: 600;
}
.expectationContainer .boxes .box{
    height: 15rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0rem 0.3rem 0rem;
    gap: 1.87rem;
    border-radius: 20px;
    background-color: #FAFAFA;
}
.expectationContainer .boxes .box img{
    width: 6.25rem;
    height: 6.25rem;
}
@media screen and (min-width: 1000px){
    .expenseContainer .second{
        align-items: center;
        justify-content: center;
    }
    .expectationContainer .title_section .title{
        align-items: center;
    }
    .expectationContainer .title_section p{
        text-align: center;
    }
    .expectationContainer .boxes{
        width: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(4, 13.1rem);
        gap: 1rem;
    }
    .whatweDoContainer .last{
        font-size: 14px;
    }
    .expectationContainer{
        padding: 0rem 5rem 5.5rem 5rem;
    }
    .expectationContainer .boxes .box p{
        text-align: center;
        padding: 0rem 1rem 0rem 1rem;
    }
    .expectationContainer .title_section{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}
@media screen and (min-width: 1101px){
    .expectationContainer .boxes{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(4, 13.1rem);
        gap: 1rem;
    }
}